# Docker compose env

MONGO_LOCAL_PORT=27017
BACKEND_LOCAL_PORT=8080
FRONTEND_LOCAL_PORT=3000
VITE_BACKEND_URL=http://backend:8080

# MongoDB Environment
MONGO_INITDB_DATABASE=getaroom
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=testroot
MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=testadmin

DB_OVERRIDE_URL=mongodb://getaroom:getaroom@mongodb/getaroom?retryWrites=true&w=majority
ME_CONFIG_MONGODB_URL=mongo://root:testroot@mongodb

# Secret for JWT token, could be any long random string
JWT_SECRET="foobarbaz123foobarbaz123foobarbaz123foobarbaz123"

# Client ID is found here: (https://console.cloud.google.com/apis/credentials?project=get-a-room-326217), go to "OAuth 2.0 Client IDs" -> "Get A Room!" -> "Client ID"
GOOGLE_CLIENT_ID=""

# Client secret is found here: (https://console.cloud.google.com/apis/credentials?project=get-a-room-326217), go to "OAuth 2.0 Client IDs" -> "Get A Room!" -> "Client secret"
GOOGLE_CLIENT_SECRET=""

# Google Customer ID is found here: (https://admin.google.com/ac/accountsettings/profile)
GOOGLE_CUSTOMER_ID=""

TZ=Etc/UTC